



    <div class="modal-header" style=" margin-left: 448px;" >
        <h3 class="modal-title">
            <span><b id="titlename">Booking Report </b></span>

        </h3>
        <button type="button" class="close" style="display: flex; margin-bottom: -38px; margin-top: -24px; align-content: end; color: black" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body">
        <iframe class="table-responsive" width="1100" height="400" frameborder="0" src="~/PDF/bookings.pdf"></iframe>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    </div>


