

<div name="PrintingView">
    <div class="modal-header" style="padding-left:40%">
        <h3 class="modal-title">
            <span><b id="titlename">Booking Report </b></span>

        </h3>
        <button type="button" class="close" style="display:flex;align-content:end;color:black" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body">
        <iframe width="1110" height="500" frameborder="0" src="~/PDF/result.pdf" /><iframe />
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
    </div>
</div>