

<div name="PrintingView">
    <div class="modal-header" style="padding-left:50%">
        <h3 class="modal-title">
            <span><b id="titlename">  Preview </b></span>

        </h3>
        <button type="button" class="close" style="display:flex;align-content:end;color:black" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body">
    
        <iframe width="970" height="500" frameborder="0" src="~/PDF/result.pdf" /><iframe/>
    </div>

</div>