@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    


    <div style="margin-top:8%">
        <div style=" margin-bottom: 6px;">
            <button type="button" class="btn btn-info btn-check"  onclick="createbooking()">Create </button>

            <div class="btn-group" >
                <button type="button"   title="Print" class="btn btn-danger div-print-buttons" onclick="printall()">Print</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"  onclick="pdfGenerate()">Export as PDF</a>
                    <a class="dropdown-item" id="btnExcel" href="#">Export as Excel</a>
                                       
                </div>
            </div>

          
        </div>
    </div>
    

<table class="table table-bordered dt-responsive nowrap" style="text-align:center;overflow:hidden;" id="BookingTable">
    <thead>
        <tr class="headercolour" style="background-color:burlywood;color:white;">
            <th style="text-align:center">
                Cutomer Name
            </th>
            <th style="text-align:center">
                Date of Booking
            </th>
            <th style="text-align:center">
                Dinning Type
            </th>
            <th style="text-align:center">
                Number of Guest
            </th>
            <th style="text-align:center">
                Contact
            </th>
            <th style="text-align:center">
                Category
            </th>
            <th style="text-align:center">
                Action
            </th>
        </tr>
    </thead>

</table>



<div class="modal fade" id="bookingmodal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:50px" >
        <div class="modal-content" id="bookingmodalbody" style="width: 90%; background-color:antiquewhite">

        </div>

    </div>
</div>

<div class="modal fade" id="bookingmodal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:150px; padding-top:200px;">
        <div class="modal-content" id="bookingmodalbody1" style="width: 70%; background-color: antiquewhite">

        </div>

    </div>
</div>

<div class="modal fade  " id="print" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" style="width:max-content" role="document" >
        <div class="modal-content" id="printPreview" style=" background-color:antiquewhite">
         
        </div>
    </div>
</div>

<iframe name="print_frames" width="0" height="0" frameborder="0" src="~/PDF/result.pdf"></iframe>

<script>
    var dataTable;
    $(document).ready(function () {

        dataTable = $('#BookingTable').DataTable(

            {
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollY": "400px",
                "scrollCollapse": false,
                "bInfo": true,
                "order": [0, "asc"],
                "dom": '<"top"f>rt<"bottom"ilpB><"clear">',
                "buttons": [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        download:'open',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        autoPrint: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ],

                "columnDefs": [

                    { "targets": [1,4], orderable: false },
                    { "targets": [6], orderable: false }
                ],


                "ajax": {

                    url: "/Booking/BookingData",

                    type: "POST",

                    datatype: "json"

                },

                columns: [

                    { "data": "Customer_Name" },

                    {
                        "data": "Datetime",
                        "type": "shortdatetime",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                        }
                    },

                    { "data": "Dinning_Type" },

                    { "data": "NumberofGuest" },

                    { "data": "Contact" },

                    { "data": "Category" },

                    {
                        "data": "Id",
                        "render": function (booking) {
                            return ('<a class="blues" id="viewclick" title="View" onclick="getDetails(' + booking + ')"><span class="glyphicon glyphicon-eye-open"></span></a> <a class="oranges" id="editclicks" title="Edit" onclick="getEditDetails(' + booking + ')"><span class="glyphicon glyphicon-edit"></span></a> <a class="reds" title="Delete" onclick="getDelete(' + booking + ')"><span class="glyphicon glyphicon-trash"></span></a>');
                        }

                    }]


            });
    });

    
    function printall() {
        $.get("/Booking/Print", function (res) {
            $("#printPreview").html(res);
            $('#print').modal('show');

        });
        setTimeout(getprint,1000)
    }
    function getprint() {
        window.frames["print_frames"].window.focus();
        window.frames["print_frames"].window.print();
    }
    function pdfGenerate() {
        $.get("/Booking/Print", function (res) {
            $("#printPreview").html(res);
            $('#print').modal('show');
            if (res) {
                toastr.options = {
                    "closeButton": true,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"]("Pdf Saved to PDF/Result.pdf")
            }
        })
    }

    //$(document).on('click', '#btnPrint', function () {
    //    var info = dataTable.page.info();
    //    pageLength = info.length;
    //    dataTable.page.len(info.recordsTotal).draw();
    //    setTimeout(printFunction, 100);
    //});

    //function printFunction() {
    //    $(".buttons-print")[0].click()
    //    setTimeout(pdfExcelPrint, 100);
    //}
    //function pdfExcelPrint() {
    //    dataTable.page.len(pageLength).draw();
    //}

    $(document).on('click', '#btnExcel', function () {
        var info = dataTable.page.info();
        pageLength = info.length;
        dataTable.page.len(info.recordsTotal).draw();
        setTimeout(excelFunction, 100);
    });

    function excelFunction() {
        $(".buttons-excel")[0].click();
        setTimeout(pdfExcelPrint, 100);
    }

    //$(document).on('click', '#btnPdf', function () {
    //    var info = dataTable.page.info();
    //    pageLength = info.length;
    //    dataTable.page.len(info.recordsTotal).draw();
    //    setTimeout(pdfFunction, 100);
    //});

    //function pdfFunction() {
    //    $(".buttons-pdf")[0].click();
    //    setTimeout(pdfExcelPrint, 100);
    //}

    function createbooking() {
        $.get("/Booking/Create", { operation: "Create" }, function (res) {
            $("#bookingmodalbody").html(res);
            $("#bookingmodal").modal('show');
        })

    }

    function Savebooking() {
        var modal = $("#bookingmodal");
        var form = $('form[name="bookingForm"]');
        nameValidation();
        dinningValidation();
        numberofguestValidation();
        contactValidation();
        categoryValidation()
        form.validate();

        if (!form.valid()) {
            return;
        } else {
            var data = form.serialize();
            $.post("/Booking/CreateEdit", data, function (res) {
                if (res) {
                    toastr.options = {
                        "closeButton": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["success"]("Booking Saved")
                    modal.modal('hide');
                    dataTable.ajax.reload(null,false);
                }
            })
        }
    }

    function nameValidation() {
        var letters = /^[A-Z a-z]+$/;
        if (!$("#Customer_Name").val().match(letters) && $("#Customer_Name").val() != "") {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else if ($("#Customer_Name").val() == "") {
            $("#nameValidation").html("Customer Name Required");
        }
        else if ($("#Customer_Name").val().length >= 20) {
            $("#nameValidation").html("Name must contain only 20 characters");
        }
        else if ($("#Customer_Name").val().length <= 2) {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else {
            $("#nameValidation").html("");
        }
    }

    function dinningValidation() {
        if ($("#Dinning_Type").val() == "") {
            $("#dinningValidation").html("Dinning Type Required");
        }
        else {
            $("#dinningValidation").html("");
        }
    }

    function numberofguestValidation() {
        if ($("#NumberofGuest").val() == 0) {
            $("#numberofguestValidation").html("Number of Guests Required");
        }
        else if ($("#NumberofGuest").val() >= 100) {
            $("#numberofguestValidation").html("Maximum number of guests is 99");
        }
        else if ($("#NumberofGuest").val() <= -1) {
            $("#numberofguestValidation").html("Minimum number of guest is 1");
        }
        else {
            $("#numberofguestValidation").html("");
        }
    }

    function contactValidation() {
        var expression = /^[0-9]+$/;
        if (!$("#Contact").val().match(expression) && $("#Contact").val() != "") {
            $("#contactValidation").html("Please Provide Valid Contact Number");
        }
        else if ($("#Contact").val() == "") {
            $("#contactValidation").html("Contact Number is Required");
        }
        else if ($("#Contact").val().length >= 11) {
            $("#contactValidation").html("Contact must contain only 10 characters");
        }
        else if ($("#Contact").val().length <= 9) {
            $("#contactValidation").html("Contact Number Not Valid");
        }
        else {
            $("#contactValidation").html("");
        }
    }

    function categoryValidation() {
        if ($("#Category").val() == "") {
            $("#categoryValidation").html("Category Required");
        }
        else {
            $("#categoryValidation").html("");
        }
    }

    function getDetails(id) {
        $.get("/Booking/View", { operation: "View" , id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');

        })
    }

    function getEditDetails(id) {
        $.get("/Booking/Edit", { operation: "Edit", id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');

        })
    }

    function getDelete(id) {
        $.get("/Booking/DeletePartial", { operation: "Delete" , id: id }, function (res) {
            $('#bookingmodalbody1').html(res);
            $('#bookingmodal1').modal('show');
        })
    }

    function Deletebooking(id) {
            var modal = $("#bookingmodal1");
            var form = $('form[name="bookingdeleteForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/Booking/Delete", data, function (res) {
                    if (res) {
                        toastr.options = {
                            "closeButton": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "200",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["success"]("Booking Deleted")
                        modal.modal('hide');
                        dataTable.ajax.reload(null, false);
                    }
                })
            }
    }
</script>
