@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center"><b>Restaurant Booking</b></h2>

<p><button type="button" class="btn btn-info btn-check" onclick="createbooking()">Create New</button></p>

<table class="table table-borderless" style="text-align:center" id="BookingTable">
    <thead>
        <tr class="headercolour">
            <th style="text-align:center">
                Cutomer Name
            </th>
            <th style="text-align:center">
                Date of Booking
            </th>
            <th style="text-align:center">
                Dinning Type
            </th>
            <th style="text-align:center">
                Number of Guest
            </th>
            <th style="text-align:center">
                Contact
            </th>
            <th style="text-align:center">
                Category
            </th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>

</table>

<div class="modal fade" id="bookingmodal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:50px">
        <div class="modal-content" id="bookingmodalbody" style="width: 90%">

        </div>

    </div>
</div>

<div class="modal fade" id="bookingmodal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:160px">
        <div class="modal-content" id="bookingmodalbody1" style="width: 60%">

        </div>

    </div>
</div>

<script>
    var dataTable;
    $(document).ready(function () {

        dataTable = $('#BookingTable').DataTable(

            {
                "processing": true,
                "serverSide": true,
                "filter": true,
                "bInfo": false,
                "order": [0, "asc"],
                "columnDefs": [
                    { "targets": [1], orderable: false },
                    { "targets": [4], orderable: false },
                    { "targets": [6], orderable: false }
                ],
                

                "ajax": {

                    url: "/Booking/BookingData",

                    type: "POST",

                    datatype: "json"

                },

                columns: [

                    { "data": "Customer_Name" },

                    {
                        "data": "Datetime",
                        "type": "shortdatetime",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                        }
                    },

                    { "data": "Dinning_Type" },

                    { "data": "NumberofGuest" },

                    { "data": "Contact" },

                    { "data": "Category" },

                    {
                        "data": "Id",
                        "render": function (booking) {
                            return ('<button id="viewclick" class"btn btn-success" onclick="getDetails(' + booking + ')">View</button> <button id="editclicks" class"btn btn-success" onclick="getEditDetails(' + booking + ')">Edit</button> <button class"btn btn-success" onclick="getDelete(' + booking + ')">Delete</button>');
                        }

                    }]
                
           
            });
    });

    function createbooking() {
        $.get("/Booking/Create", { operation: "Create" }, function (res) {
            $("#bookingmodalbody").html(res);
            $("#bookingmodal").modal('show');
        })
    }

    function Savebooking() {
        var modal = $("#bookingmodal");
        var form = $('form[name="bookingForm"]');
        nameValidation();
        dateValidation();
        numberofguestValidation();
        contactValidation();
        form.validate();
        if (!form.valid()) {
            return;
        } else {
            var data = form.serialize();
            $.post("/Booking/CreateEdit", data, function (res) {
                if (res) {
                    Swal.fire({
                        position: 'top-centre',
                        icon: 'success',
                        title: 'Booking saved',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    modal.modal('hide');
                    dataTable.ajax.reload();
                }
            })
        }
    }

    function nameValidation() {
        var letters = /^[A-Z a-z]+$/;
        if (!$("#Customer_Name").val().match(letters) && $("#Customer_Name").val() != "") {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else if ($("#Customer_Name").val() == "") {
            $("#nameValidation").html("Customer Name is Required");
        }
        else if ($("#Customer_Name").val().length >= 20) {
            $("#nameValidation").html("Name must contain only 20 characters");
        }
        else if ($("#Customer_Name").val().length <= 2) {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else {
            $("#nameValidation").html("");
        }
    }

    function dateValidation() {
        if ($("#Datetime").val() <= "03-02-2022") {
            $("#dateValidation").html("Bookings only from today's Date");
        }
        else {
            $("#dateValidation").html("");
        }
    }

    function numberofguestValidation() {
        if ($("#NumberofGuest").val() == 0) {
            $("#numberofguestValidation").html("Number of Guests Required");
        }
        else if ($("#NumberofGuest").val() >= 100) {
            $("#numberofguestValidation").html("Maximum number of guests is 99");
        }
        else {
            $("#numberofguestValidation").html("");
        }
    }

    function contactValidation() {
        var expression = /^[0-9]+$/;
        if (!$("#Contact").val().match(expression) && $("#Contact").val() != "") {
            $("#contactValidation").html("Please Provide Valid Contact Number");
        }
        else if ($("#Contact").val() == "") {
            $("#contactValidation").html("Contact Number is Required");
        }
        else if ($("#Contact").val().length >= 11) {
            $("#contactValidation").html("Contact must contain only 10 characters");
        }
        else if ($("#Contact").val().length <= 9) {
            $("#contactValidation").html("Contact Number Not Valid");
        }
        else {
            $("#contactValidation").html("");
        }
    }

    function getDetails(id) {
        $.get("/Booking/View", { operation: "View" , id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');
            
        })
    }

    function getEditDetails(id) {
        $.get("/Booking/Edit", { operation: "Edit", id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');
            
        })
    }

    function getDelete(id) {
        $.get("/Booking/DeletePartial", { operation: "Delete" , id: id }, function (res) {
            $('#bookingmodalbody1').html(res);
            $('#bookingmodal1').modal('show');
        })
    }

    function Deletebooking(id) {
            var modal = $("#bookingmodal1");
            var form = $('form[name="bookingdeleteForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/Booking/Delete", data, function (res) {
                    if (res) {
                        Swal.fire({
                            position: 'top-centre',
                            icon: 'success',
                            title: 'Booking Deleted',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        modal.modal('hide');
                        dataTable.ajax.reload();
                    }
                })
            }
    }
</script>
