@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div style="width: 100%; overflow: hidden;">

    <div style="width: 600px; float: left;">
        <button type="button" class="btn btn-info btn-check" onclick="createbooking()">Create </button>

    </div>

    <div style="margin-left: 780px;">
        <button id="btnPrint" title="Print" style="margin:5px;background-color:white" class="div-print-buttons">
            <span  class="glyphicon glyphicon-print"></span>
        </button>

        <button id="btnExcel" title="Download Excel" style="color:darkgreen;margin:5px" class="div-print-buttons">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
        </button>

        <button id="btnPdf" title="Download Pdf" style="color: red; margin: 5px" class="div-print-buttons">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
            </svg>
        </button>

    </div>
    
</div>
<table class="table table-bordered dt-responsive nowrap" style="text-align:center;overflow:hidden;" id="BookingTable">
    <thead>
        <tr class="headercolour" style="background-color:burlywood;color:white;">
            <th style="text-align:center">
                Cutomer Name
            </th>
            <th style="text-align:center">
                Date of Booking
            </th>
            <th style="text-align:center">
                Dinning Type
            </th>
            <th style="text-align:center">
                Number of Guest
            </th>
            <th style="text-align:center">
                Contact
            </th>
            <th style="text-align:center">
                Category
            </th>
            <th style="text-align:center">
                Action
            </th>
        </tr>
    </thead>

</table>



<div class="modal fade" id="bookingmodal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:50px" >
        <div class="modal-content" id="bookingmodalbody" style="width: 90%; background-color:antiquewhite">

        </div>

    </div>
</div>

<div class="modal fade" id="bookingmodal1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="padding-left:150px; padding-top:200px;">
        <div class="modal-content" id="bookingmodalbody1" style="width: 70%; background-color: antiquewhite">

        </div>

    </div>
</div>

<script>
    var dataTable;
    $(document).ready(function () {

        dataTable = $('#BookingTable').DataTable(

            {
                "processing": true,
                "serverSide": true,
                "filter": true,
                "scrollY": "400px",
                "scrollCollapse": false,
                "bInfo": true,
                "order": [0, "asc"],
                "dom": '<"top"f>rt<"bottom"ilpB><"clear">',
                "buttons": [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ],
                
                "columnDefs": [
                    
                    { "targets": [1,4], orderable: false },
                    { "targets": [6], orderable: false }
                ],
                

                "ajax": {

                    url: "/Booking/BookingData",

                    type: "POST",

                    datatype: "json"

                },

                columns: [

                    { "data": "Customer_Name" },

                    {
                        "data": "Datetime",
                        "type": "shortdatetime",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                        }
                    },

                    { "data": "Dinning_Type" },

                    { "data": "NumberofGuest" },

                    { "data": "Contact" },

                    { "data": "Category" },

                    {
                        "data": "Id",
                        "render": function (booking) {
                            return ('<a class="blues" id="viewclick" title="View" onclick="getDetails(' + booking + ')"><span class="glyphicon glyphicon-eye-open"></span></a> <a class="oranges" id="editclicks" title="Edit" onclick="getEditDetails(' + booking + ')"><span class="glyphicon glyphicon-edit"></span></a> <a class="reds" title="Delete" onclick="getDelete(' + booking + ')"><span class="glyphicon glyphicon-trash"></span></a>');
                        }

                    }]
                
           
            });
    });

    $(document).on('click', '#btnPrint', function () {
        $(".buttons-print")().click();
        
    });


    $(document).on('click', '#btnExcel', function () {
        $(".buttons-excel")[0].click();
    });


    $(document).on('click', '#btnPdf', function () {
        $(".buttons-pdf")[0].click();
    });


    function createbooking() {
        $.get("/Booking/Create", { operation: "Create" }, function (res) {
            $("#bookingmodalbody").html(res);
            $("#bookingmodal").modal('show');
        })
        
    }

    function Savebooking() {
        var modal = $("#bookingmodal");
        var form = $('form[name="bookingForm"]');
        nameValidation();
        dinningValidation();
        numberofguestValidation();
        contactValidation();
        categoryValidation()
        form.validate();
        if (!form.valid()) {
            return;
        } else {
            var data = form.serialize();
            $.post("/Booking/CreateEdit", data, function (res) {
                if (res) {
                    toastr.options = {
                        "closeButton": true,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "200",
                        "hideDuration": "1000",
                        "timeOut": "3000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["success"]("Booking Saved")
                    modal.modal('hide');
                    dataTable.ajax.reload(null,false);
                }
            })
        }
    }

    function nameValidation() {
        var letters = /^[A-Z a-z]+$/;
        if (!$("#Customer_Name").val().match(letters) && $("#Customer_Name").val() != "") {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else if ($("#Customer_Name").val() == "") {
            $("#nameValidation").html("Customer Name Required");
        }
        else if ($("#Customer_Name").val().length >= 20) {
            $("#nameValidation").html("Name must contain only 20 characters");
        }
        else if ($("#Customer_Name").val().length <= 2) {
            $("#nameValidation").html("Please Provide Valid Name");
        }
        else {
            $("#nameValidation").html("");
        }
    }

    function dinningValidation() {
        if ($("#Dinning_Type").val() == "") {
            $("#dinningValidation").html("Dinning Type Required");
        }
        else {
            $("#dinningValidation").html("");
        }
    }

    function numberofguestValidation() {
        if ($("#NumberofGuest").val() == 0) {
            $("#numberofguestValidation").html("Number of Guests Required");
        }
        else if ($("#NumberofGuest").val() >= 100) {
            $("#numberofguestValidation").html("Maximum number of guests is 99");
        }
        else if ($("#NumberofGuest").val() <= -1) {
            $("#numberofguestValidation").html("Minimum number of guest is 1");
        }
        else {
            $("#numberofguestValidation").html("");
        }
    }

    function contactValidation() {
        var expression = /^[0-9]+$/;
        if (!$("#Contact").val().match(expression) && $("#Contact").val() != "") {
            $("#contactValidation").html("Please Provide Valid Contact Number");
        }
        else if ($("#Contact").val() == "") {
            $("#contactValidation").html("Contact Number is Required");
        }
        else if ($("#Contact").val().length >= 11) {
            $("#contactValidation").html("Contact must contain only 10 characters");
        }
        else if ($("#Contact").val().length <= 9) {
            $("#contactValidation").html("Contact Number Not Valid");
        }
        else {
            $("#contactValidation").html("");
        }
    }

    function categoryValidation() {
        if ($("#Category").val() == "") {
            $("#categoryValidation").html("Category Required");
        }
        else {
            $("#categoryValidation").html("");
        }
    }

    function getDetails(id) {
        $.get("/Booking/View", { operation: "View" , id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');
            
        })
    }

    function getEditDetails(id) {
        $.get("/Booking/Edit", { operation: "Edit", id: id }, function (res) {
            $('#bookingmodalbody').html(res);
            $('#bookingmodal').modal('show');
            
        })
    }

    function getDelete(id) {
        $.get("/Booking/DeletePartial", { operation: "Delete" , id: id }, function (res) {
            $('#bookingmodalbody1').html(res);
            $('#bookingmodal1').modal('show');
        })
    }

    function Deletebooking(id) {
            var modal = $("#bookingmodal1");
            var form = $('form[name="bookingdeleteForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/Booking/Delete", data, function (res) {
                    if (res) {
                        toastr.options = {
                            "closeButton": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "200",
                            "hideDuration": "1000",
                            "timeOut": "3000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["success"]("Booking Deleted")
                        modal.modal('hide');
                        dataTable.ajax.reload();
                    }
                })
            }
    }
</script>
