@model Restaurantbookingpage.Models.Registration
@using BookingClass.Enum;
@{

}
<form name="accountdeleteForm">
    <div class="modal-header" style="padding-left:28%">
        <h4 class="modal-title">
            <span><b>Delete Account</b></span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(c => c.Id)
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <b>Delete the account of  @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } }) ? </b>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm pull-right" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="Deleteaccount()" class="btn btn-sm btn-success pull-right">Delete</button>
    </div>
</form>


