



<div class="modal-header">
    <h3 class="modal-title" style="margin-left:458px;">
        <span><b id="titlename">Account Report </b></span>

    </h3>
    <button type="button" class="close" style="display: flex; margin-top: -30px; align-content: end; color: black" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <iframe class="table-responsive" width="1100" height="400" frameborder="0" src="~/PDF/user.pdf"></iframe>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

</div>



