

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
}/*
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}*/

.dataTables_length {
    margin-top: 12px;
    margin-left: 20px;
}

.dataTables_info {
    margin-top: 0px;
    margin-left: 0px;
}
.dataTables_filter {
    margin-top: -40px;
}
.button {
    width: 10%;
}
.dataTables_scrollBody {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.oranges {
    color:orange;
    margin: 8%;
}
.oranges :hover {
    color:lightpink;
}
.reds {
    color: red;
    margin: 10%;
}
.reds:hover {
    color:lightcoral;
}
.blues {
    color:cornflowerblue;
    margin:5%; 
}
.blues:hover {
    color:skyblue;
}
div.container {
    width: 90%;
}
.dt-buttons {
    display:none;
}
.btns {
   
}
.footers {
    position: fixed;
    left: 0;
    height: 4%;
    bottom: 0;
    width: 100%;
    
    color: black;
    text-align: center;
}
.div-print-buttons {    
    
}
.btn-height{
    height:34px;
    width:5px;
}
.icon-size{
    font-size:10px;
    margin-left:-5px;
}
.navbar {
    background-image: linear-gradient(to bottom,#ffffff 0,#e9b66f 100%) !important;
}
.dropdown-menu {
    min-width:126px !important;
}
.list-alignment{
    margin-left:-29px;
}
.glyphicon-plus-sign {
    color: green !important;
    font-size:large;
}

.glyphicon-minus-sign {
    color: red !important;
}